<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.betterlife.miura.mosambee" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MiuraMosambee</name>
    <description>cordova plugin for mosambee device</description>
    <js-module name="MiuraMosambee" src="www/MiuraMosambee.js">
        <clobbers target="cordova.plugins.MiuraMosambee" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MiuraMosambee">
                <param name="android-package" value="org.betterlife.miura.mosambee.MiuraMosambee"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_GPS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
		</config-file>
        <source-file src="src/android/MiuraMosambee.java" target-dir="src/org/betterlife/miura/mosambee" />
        <source-file src="src/android/Result.java" target-dir="src/org/betterlife/miura/mosambee" />
        <source-file src="src/android/libs/mosambee-miura.jar" target-dir="libs" />
        <source-file src="src/android/libs/mosambeelib_v1.0.0.012.jar" target-dir="libs" />
     </platform>
</plugin>
